<h1>Current week by day</h1>
<%= column_chart Email.this_week.group_by_day_of_week(:date, format: "%a").count %>

<h1>This week by hour</h1>
<%= column_chart Email.this_week.group_by_hour_of_day(:date).count %>

<h1>Last week by day</h1>
<%= column_chart Email.last_week.group_by_day_of_week(:date, format: "%a").count %>

<h1>Last week by hour</h1>
<%= column_chart Email.last_week.group_by_hour_of_day(:date).count %>

<h1>This year by day</h1>
<%= column_chart Email.this_year.group_by_day_of_week(:date, format: "%a").count %>

<h1>This year by hour</h1>
<%= column_chart Email.this_year.group_by_hour_of_day(:date).count %>
